.logo {
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
}

.logo:hover {
  color: #f59f37;
}

.mat-raised-button.orange {
  background-image: linear-gradient(180deg, #fbc070 0%, #fb8746 100%);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button.blue {
  background-image: linear-gradient(180deg, #7687e7 0%, #002384 100%);
  text-decoration: underline;
  text-underline-position: under;
}

.mat-button:hover {
  color: #f59f37;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: transparent;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}


.fill-space1 {
  flex: 1 1 auto;
  margin-right: 2.6em;
}

.fill-space {
  flex: 1 1 auto;
}

.mat-icon-button {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.mat-button {
  margin-left: 1em;
  margin-right: 1em;
}

.label {
  font-size: 12px;
  display: grid;
  place-items: center;
  margin-top: -1em;
  position: relative;
  right: 18%;
}

.label2 {
  font-size: 12px;
  display: grid;
  place-items: center;
  margin-top: -1em;
  position: relative;
  right: 1%;
}

.label3 {
  font-size: 12px;
  display: grid;
  place-items: center;
  margin-top: -1em;
  position: relative;
  right: 9%;
}

.active-link1 {
  color: #f59f37 !important;
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-position: under;
}

.active-link2 {
  color: #f59f37 !important;
}


@media only screen and (max-width: 652px) {
  .fill-space1{
    margin: 0;
  }
}

@media only screen and (max-width: 602px) {
  .mat-toolbar {
    height: 3.5em;
  }
  .mat-icon-button {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media only screen and (min-width: 602px) {
  .mat-icon {
    margin-right: 0.2em;
  }
}

@media only screen and (max-width: 450px) {
  .mat-icon-button {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .mat-raised-button {
    transform: scale(0.8);
    margin-right: -2vw;
  }
}
