<div class="bg">

    <div class="card-container">
  
      <mat-card>
        <mat-card-header>
          <div
            mat-card-avatar
            class="header-image"
            style="background-image: url('/assets/psu.jpg');"
          ></div>
          <mat-card-title>Portland State University</mat-card-title>
          <mat-card-subtitle
            >Bachelor of Science &mdash; <b>Biology</b></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
            <p>Currently Enrolled</p>
            <p>Expected graduation: <b>Spring 2021</b></p>
        </mat-card-content>
      </mat-card>
  
      <mat-card>
        <mat-card-header>
          <div
            mat-card-avatar
            class="header-image"
            style=
            "background-image: url('/assets/kaggle.jpg');"
          ></div>
          <mat-card-title>Kaggle</mat-card-title>
          <mat-card-subtitle
            >Python, Machine Learning, and Data Science</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Python</li>
            <li>Intro to Machine Learning</li>
            <li>Intermediate Machine Learning</li>
            <li>Data Visualization</li>
            <li>Pandas</li>
            <li>Feature Engineering</li>
            <li>Deep Learning (TensorFlow)</li>
            <li>Intro to SQL</li>
            <li>Advanced SQL</li>
            <li>Geospatial Analysis</li>
            <li>Machine Learning Explainability</li>
            <li>Natural Language Processing</li>
            <li>Intro to Game AI and Reinforcement Learning</li>
            <li>Data Cleaning</li>
          </ul>
          <div  class="svg-container">
            <img class=svg-content src="/assets/learning.svg">
          </div>
        </mat-card-content>
      </mat-card>
  
      <mat-card>
        <mat-card-header>
          <div
            mat-card-avatar
            class="header-image"
            style=
            "background-image: url('/assets/coursera.jpg');"
          ></div>
          <mat-card-title>Coursera</mat-card-title>
          <mat-card-subtitle
            >Specializations &mdash; <b>Deep Learning</b> and <b>Google IT Automation with Python</b> </mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <h4>Google IT Automation with Python</h4>
          <ul>
            <li>Crash Course Python</li>
            <li>Introduction to Git and GitHub</li>
            <li>Troubleshooting and Debugging Techniques</li>
            <li>Using Python to Interact with the Operating System</li>
            <li>Automating Real-World Tasks with Python</li>
          </ul>
          <h4>Deep Learning</h4>
          <ul>
            <li>Neural Networks and Deep Learning</li>
            <li>Structuring Machine Learning Projects</li>
            <li>Hyperparameter tuning, Regularization and Optimization</li>
            <li>Convolutional Neural Networks</li>
            <li>Sequence Models</li>
          </ul>
          <h4>Miscellaneous</h4>
          <ul>
            <li>Science of Exercise</li>
            <li>Visual Elements of User Interface Design</li>
          </ul>
        </mat-card-content>
      </mat-card>
  
      <mat-card>
        <mat-card-header>
          <div
            mat-card-avatar
            class="header-image"
            style=
            "background-image: url('/assets/udemy.jpg');"
          ></div>
          <mat-card-title>Udemy</mat-card-title>
          <mat-card-subtitle
            >Python, JavaScript, and TypeScript</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>The Complete Python Programmer Bootcamp 2020</li>
            <li>The Complete JavaScript Course 2020</li>
            <li>Understanding TypeScript - 2020 Edition</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>