.background {
  background-image: url("/assets/education.jpg");
}

mat-card {
  background-image: linear-gradient(20deg, #091038ec 0%, #313d7ee3 100%);
}

mat-card:hover {
  background-image: linear-gradient(20deg, #091038 0%, #313d7e 100%);
}

.svg-container {
  transform: translate(2%, -125%) scale(0.8);
}

@media only screen and (max-width: 602px) {
  mat-card {
    background-image: linear-gradient(20deg, #091038 0%, #313d7eed 100%);
  }
}

/* There's probably a better way to do this, but this is my only use case and works... well enough */

@media only screen and (max-width: 685px) {
  .svg-container {
    transform: translate(5vw, -52vw) scale(0.7);
  }
}

@media only screen and (max-width: 468px) {
  .svg-container {
    transform: translate(8%, -56vw) scale(0.6);
  }
}

@media only screen and (max-width: 441px) {
  .svg-container {
    transform: translate(9%, -58vw) scale(0.6);
  }
}

@media only screen and (max-width: 410px) {
  .svg-container {
    transform: translate(10%, -60vw) scale(0.5);
  }
}

@media only screen and (max-width: 370px) {
  .svg-container {
    transform: translate(11%, -62vw) scale(0.5);
  }
}
