.background {
  background-image: url("/assets/works.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card {
  background-image: linear-gradient(20deg, #1f28499b 0%, #49232b96 100%);
}

mat-card:hover {
  background-image: linear-gradient(20deg, #19213db2 0%, #49232bb0 100%);
}

.tab-icon {
  margin-right: 6px;
}

mat-tab-group {
  position: fixed;
  margin-top: 6em;
}

.tab-content {
  margin: 12px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  place-items: center;
}

.svg-content-tab {
  width: 60%;
  margin: -3em;
  margin-top: 0em;
  margin-bottom: -1em;
}

.svg-container-tab {
  display: grid;
  place-items: center;
}

.image-credit {
  color: #fcc19d9b;
}

.image-credit:hover {
  color: #fcc19d;
}
