.bg {
  background-image: url("/assets/works.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card {
    margin: 2em;
    width: fit-content;
    background-color: transparent;
    background-image: linear-gradient(20deg, #1f28499b 0%, #49232b96 100%);
    transition: 1s ease-out;
  }
  
  mat-card:hover {
    transform: translateY(-0.3rem);
    background-color: transparent;
    background-image: linear-gradient(20deg, #19213db2 0%, #49232bb0 100%);
    transition: 1s ease-out;
  }
  
  
  .header-image {
    background-size: cover;
  }
  
  .tab-icon {
    margin-right: 10px;
  }
  
  .header-image {
    background-size: cover;
  }
  
  mat-tab-group {
    position: fixed;
    margin-top: 8em;
    width: 90vmin;
    min-width: 450px;
  }
  
  .tab-content {
    margin: 12px;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    place-items: center;
  }


.svg-content2 {
    width: 60%;
    margin: -3em;
    margin-top: 0em;
  }
  
  .svg-container2 { 
    display: grid;
    place-items: center;
  }
  
  .image-credit{
      position: absolute;
      bottom: 1em;
      right: 1em;
      font-size: 14px;
      text-decoration: none;
      color: #fcc19d9b;
      transition: 1s ease-out;
  }
  
  .image-credit:hover{
    position: absolute;
    text-decoration: underline;
    transform: translateY(-0.3em);
    color: #fcc19d;
}
  
  