<div class="bg-image">

    <h1>hi, I'm Cullyn</h1>
    
    <div class="link-container">
      <a
        class="circle-link"
        href="https://github.com/cullyn-inverba"
        target="_blank"
        rel="noopener"
      >
        <img src="assets/github.svg" />
      </a>
      <a
        class="circle-link"
        href="https://twitter.com/Newdarer"
        target="_blank"
        rel="noopener"
      >
        <img src="assets/twitter.svg" />
      </a>
      <a
        class="circle-link"
        href="https://www.instagram.com/cullynnewman/"
        target="_blank"
        rel="noopener"
      >
        <img src="assets/instagram.svg" />
      </a>
      <a
        class="circle-link"
        href="https://www.kaggle.com/cullyn"
        target="_blank"
        rel="noopener"
      >
        <img src="assets/kaggle.svg" />
      </a>
      <a
        class="circle-link"
        href="https://www.linkedin.com/in/cullyn-newman-694137172/"
        target="_blank"
        rel="noopener"
      >
        <img src="assets/linkedin.svg" />
      </a>
    </div>
    </div>