.background {
  background-image: url("/assets/research.jpg");
  background-position: left 75% top 10%;
}

mat-card {
  background-image: linear-gradient(20deg, #3443aaf8 0%, #3d3fbdec 100%);
}

mat-card:hover{
  background-image: linear-gradient(20deg, #2c3dac 0%, #3644c2f3 100%);
}

.svg-container{ 
  transform: translate(5%, -105%);
}

h2 {
  color: #d8daec;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
  margin-top: 24px;
}

.hub {
  color: #ffab40;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.hub:hover {
  color: #f77930;
  text-decoration: underline;
}

.orcid {
  color: #d8daecea;
  text-decoration: none;
}

.orcid:hover {
  color: #fdfdfd;
  text-decoration: none;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

@media only screen and (max-width: 602px) {
  mat-card {
    background-image: linear-gradient(20deg, #2c3dac 0%, #4648d1 100%);
  }
  .svg-container { 
    width: 50%;
    transform: translate(12%, -122%);
  }
}

@media only screen and (max-width: 466px) {
  .svg-container { 
    width: 50%;
    transform: translate(15%, -140%) scale(0.8);
  }
}
