.bg {
  background-image: url("/assets/research.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: left 75% top 10%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  position: fixed;
  top: 10%;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

mat-card {
  margin: 0 1.5em 2em 2em;
  max-width: 65ch;
  background-color: transparent;
  background-image: linear-gradient(20deg, #3443aaf8 0%, #3d3fbdec 100%);
  transition: 1s ease-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card-title {
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 28px !important;
  color: #212f81;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1),
    0px -1px 0px rgba(0, 0, 0, 0.7);
}

mat-card:hover {
  transform: translateY(-0.3rem);
  background-color: transparent;
  background-image: linear-gradient(20deg, #2c3dac 0%, #3d3fbd 100%);
  transition: 1s ease-out;
}

h2 {
  color: #d8daec;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
  margin-top: 24px;
}

.hub {
  color: #ffab40;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.hub:hover {
  color: #f77930;
}

.orcid {
  color: #d8daecea;
  text-decoration: none;
}

.orcid:hover {
  color: #fdfdfd;
  text-decoration: none;
}

li:not(:last-child) {
  margin-bottom: 5px;
}


.svg-content {
  width: 60%;
  overflow: hidden; 
}

.svg-container { 
  position: absolute;
  width: 60%;
  left: 30%;
  max-width: 800px;
  min-width: fit-content;
  transform: translate(5%, -105%);
  overflow: hidden; 
  opacity: 30%;
  -webkit-opacity: 0.3;
}


@media only screen and (max-width: 602px) {
  mat-card {
    background-image: linear-gradient(20deg, #2c3dac 0%, #3d3fbd 100%);
  }
  .svg-container { 
    width: 50%;
    transform: translate(12%, -122%);
  }
}

@media only screen and (max-width: 466px) {
  mat-card {
    background-image: linear-gradient(20deg, #2c3dac 0%, #3d3fbd 100%);
  }
  .svg-container { 
    width: 50%;
    transform: translate(15%, -140%) scale(0.8);
  }
}
