<div class="background">
    <div class="content">
      <mat-card>
        <mat-card-content>
          <h2>Areas of Interest</h2>
          <p>Many areas of interest overlap, but in general the following subjects capture my attention and generate the greatest amount of curiosity:</p>
          <ul>
            <li><strong>Biology</strong>
              <ul>
                <li>Bioinformatics</li>
                <li>Protein Folding</li>
                <li>Biomedical Engineering</li>
                <li>Synthetic Biology</li>
                <li>Evolutionary Biology</li>
              </ul>
            </li>
            <li><strong>Neuroscience</strong>
              <ul>
                <li>Behavioral</li>
                <li>Developmental</li>
                <li>Cognitive</li>
                <li>Computational</li>
              </ul>
            </li>
            <li>
              <strong>Deep Learning</strong>
                <ul>
                <li>Computer Vision</li>
                <li>Reinforcement Learning</li>
                </ul>
            </li>
          </ul>
          <div  class="svg-container">
            <img class=svg-content src="/assets/reading.svg">
          </div>
          <h2>Current Research</h2>
          <p>I'm currently a biology undergraduate at Portland State University and I'm looking for labs that would find my help useful! I'm currently focusing on developing my ability to comfortably use <a class='hub' href="https://www.tensorflow.org/" target="_blank"   rel="noopener"><b>TensorFlow</b></a> so that I can easily start creating models for labs and biological datsets I find interest in.</p>

          <p>I also find web development fun and I'm interested in taking on more projects that challenge both front and backend skill development. My next project is currently being made with <a class='hub' href="https://flutter.dev/" target="_blank"   rel="noopener"><b>Flutter.</b></a></p>
          <h2>Publications</h2>
          <p>Nothing of my own yet, but check out my <a class='hub' href="https://www.researchhub.com/user/234/contributions" target="_blank"   rel="noopener"><b>Research</b>Hub</a> profile where I upload papers I find interesting and often write key takeaways/summaries. Join the discussion even, it's a fantastic site!</p>
          <a class='orcid' target="_blank"   rel="noopener"href="https://orcid.org/0000-0001-7057-1202">ORCID iD: 0000-0001-7057-1202</a>
        </mat-card-content>
      </mat-card>
  
      <mat-card>
        <mat-card-content>
          <h2>Currently Reading</h2>
          <p><strong> Principles of Neural Science, Fifth Edition</strong> by <i>Eric Kandel, James H. Schwartz, and Thomas Jessell</i>
          <h2>Books</h2>
          <p>The following books are ones that I've read and strongly recommend to anyone. I'm pretty sure this list is in the order that I read them, though I've read many of them more than once. Bolded titles have significantly influenced me.</p>
          <ul>
            <li>On Intelligence by <i>Jeff Hawkins, Sandra Blakeslee</i></li>
            <li>From Bacteria to Bach and Back by <i>Daniel C. Dennett</i></li>
            <li><b>Other Minds</b> by <i>Peter Godfrey-Smith </i></li>
            <li><b>Quantum Man</b> by <i>Lawrence M. Krauss</i></li>
            <li>A Universe from Nothing by <i>Lawrence M. Krauss</i></li>
            <li>Theory and Reality by <i>Peter Godfrey-Smith</i></li>
            <li>Story by <i>Robert McKee</i></li>
            <li><b>The Structure of Scientific Revolutions</b> by <i>Thomas S. Kuhn</i></li>
            <li>Chaos by <i>James Gleick</i></li>
            <li><b>The Information</b> by <i>James Gleick</i></li>
            <li><b>Surely You're Joking, Mr. Feynman!</b> by <i>Richard P. Feynman</i></li>
            <li>Ultralearning by <i>Scott Young</i></li>
            <li><b>The Selfish Gene</b> by <i>Richard Dawkins</i></li>
            <li>The Madness of Crowds by <i>Douglas Murray</i></li>
            <li><b>Lifespan</b> by <i> David A. Sinclair PhD, Matthew D. LaPlante</i></li>
            <li><b>Human Compatible</b> by <i>Stuart Russell</i></li>
            <li><b>How to Have Impossible Conversations</b> by <i>Peter Boghossian, James Lindsay</i></li>
            <li>A History of Western Philosophy by <i>Bertrand Russell</i></li>
            <li>Something Deeply Hidden by <i>Sean Carroll</i></li>
            <li><b>Why We Sleep</b> by <i>Matthew Walker</i></li>
            <li>The Gene by <i>Siddhartha Mukherjee</i></li>
            <li>Stories of Your Life and Others by <i>Ted Chiang</i></li>
            <li><b>Exhalation</b> by <i>Ted Chiang</i></li>
            <li>The Theory of Everything by <i>Don Lincoln</i></li>
            <li>Power Moves by <i>Adam Grant</i></li>
            <li><b>Brief Answers to the Big Questions</b> by <i> Stephen Hawking</i></li>
            <li><b>Einstein</b> by <i>Walter Isaacson</i></li>
            <li>Hit Makers by <i>Derek Thompson</i></li>
            <li>Conscious by <i>Annaka Harris</i></li>
            <li>Blueprint by <i>Nicholas A. Christakis</i></li>
            <li><b>Behave</b> by <i>Robert M. Sapolsky</i></li>
            <li>The Happiness Hypothesis by <i>Jonathan Haidt</i></li>
            <li>The Future of Humanity by <i>Michio Kaku</i></li>
            <li>The Elephant in the Brain by <i>Kevin Simler, Robin Hanson</i></li>
            <li>Justice by <i>Michael J. Sandel</i></li>
            <li><b>Radical Markets</b> by <i>Eric A. Posner, E. Glen Weyl</i></li>
            <li>How to Change Your Mind by <i>Michael Pollan</i></li>
            <li>The Big Picture by <i>Sean Carroll</i></li>
            <li>The Deep Learning Revolution by <i>Terrence J. Sejnowski</i></li>
            <li>Peak Performance by <i>Brad Stulberg, Steve Magness</i></li>
            <li><b>Algorithms to Live By</b> by <i>Brian Christian, Tom Griffiths</i></li>
            <li><b>Thinking, Fast and Slow</b> by <i>Daniel Kahneman</i></li>
            <li>Lost Connections by <i>Johann Hari</i></li>
            <li><b>1984</b> by <i>George Orwell</i></li>
            <li><b>Brave New World</b> by <i>Aldous Huxley</i></li>
            <li>Homo Deus by <i>Yuval Noah Harari</i></li>
            <li><b>21 Lessons for the 21st Century</b> by <i>Yuval Noah Harari</i></li>
            <li><b>The Moral Landscape</b> by <i>Sam Harris</i></li>
            <li>Free Will by <i>Sam Harris</i></li>
            <li><b>Waking Up</b> by <i>Sam Harris</i></li>
            <li><b>Lying</b> by <i>Sam Harris</i></li>
            <li><b>Cosmos by </b> <i>Carl Sagan</i></li>
            <li><b>Pale Blue Dot</b> by <i>Carl Sagan</i></li>
            <li><b>The Demon-Haunted World</b> by <i>Carl Sagan</i></li>
          </ul>
          <p>Recomendations are most welcome! :)</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  