.background {
  background-image: url("/assets/contact.jpg");
}

mat-card {
  background-color: rgba(6, 6, 36, 0.5) !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mat-card:hover {
  background-color: rgba(6, 6, 36, 0.6) !important;
}

mat-error {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-label {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
  z-index: 5;
}

.form-container {
  overflow-y: auto;
}

::-webkit-scrollbar-track {
  margin-top: 1em;
}

h1 {
  background-image: linear-gradient(90deg, white 20%, #4f70ca, white 80%);
  background-position: right center;
  background-size: 400% auto;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 2000ms ease-in-out;
}
h1:hover {
  background-position: left center;
  transition: background-position 2000ms ease-in-out;
}

.success {
  background-image: linear-gradient(90deg, white 20%, #ffab40, white 80%);
  background-position: right center;
  background-size: 400% auto;
  color: white;
  font-size: large;
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1500ms ease-in-out;
}
.success:hover {
  background-position: left center;
  transition: background-position 2000ms ease-in-out;
}

.failure {
  background-image: linear-gradient(90deg, white 20%, #ff4040, white 80%);
  background-position: right center;
  background-size: 400% auto;
  color: white;
  font-size: large;
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1500ms ease-in-out;
}
.failure:hover {
  background-position: left center;
  transition: background-position 2000ms ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.mat-input-wrapper {
  background-color: transparent;
}

.mat-error {
  padding: 2px;
}

.svg-content {
  width: 80%;
}

.svg-container {
  width: 70%;
  transform: translate(10%, -100%);
}

.svg-content2 {
  width: 100%;
}

.svg-container2 {
  position: relative;
  width: 100%;
  opacity: 50%;
  -webkit-opacity: 0.5;
}

@media only screen and (max-width: 602px) {
  .svg-container {
    transform: translate(5%, -110%);
  }
}

.image-credit {
  color: #aeb6ff9b;
}

.image-credit:hover {
  color: #9da6fc;
}
