.bg {
    background-image: url("/assets/contact.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content {
    min-width: 450px;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
 mat-card {
    margin: 8em 2em 2em 2em;
    max-width: 60ch;
    min-width: 350px;
    background-color: rgba(6, 6, 36, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  mat-error{
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  mat-label{
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .form-container{
    overflow-y: scroll;
  }

  ::-webkit-scrollbar-track {
    margin-top: 1em;
  }
  
  h1 {
    background-image: linear-gradient(
      90deg,
      white 20%,
      #4f70ca,
      white 80%
    );
    background-position: right center;
    background-size: 400% auto;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 1500ms ease-in-out;
  }
  h1:hover {
    background-position: left center;
    transition: background-position 2000ms ease-in-out;
  }
  
  .success {
    background-image: linear-gradient(
      90deg,
      white 20%,
      #ffab40,
      white 80%
    );
    background-position: right center;
    background-size: 400% auto;
    color: white;
    font-size: large;
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 1500ms ease-in-out;
  }
  .success:hover {
    background-position: left center;
    transition: background-position 2000ms ease-in-out;
  }
  
  
  .failure {
    background-image: linear-gradient(
      90deg,
      white 20%,
      #ff4040,
      white 80%
    );
    background-position: right center;
    background-size: 400% auto;
    color: white;
    font-size: large;
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 1500ms ease-in-out;
  }
  .failure:hover {
    background-position: left center;
    transition: background-position 2000ms ease-in-out;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
  }
  
  .mat-input-wrapper {
    background-color: transparent;
  }
  
  .mat-error {
    padding: 2px;
  }
  
  .svg-content {
    width: 80%;
  }
  
  .svg-container { 
    position: absolute;
    width: 70%;
    left: 30%;
    max-width: 800px;
    transform: translate(10%, -100%);
    overflow: hidden; 
    opacity: 30%;
    z-index: -1;
  }
  
  .svg-content2 {
    width: 100%;
  }
  
  .svg-container2 { 
      position: relative;
    width: 100%;
    opacity: 50%;
  }

  @media only screen and (max-width: 602px) {
    .svg-container { 
      transform: translate(5%, -110%);
    }
  }

  .image-credit{
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 14px;
    text-decoration: none;
    color: #aeb6ff9b;
    transition: 1s ease-out;
}

.image-credit:hover{
  text-decoration: underline;
  transform: translateY(-0.2em);
  color: #9da6fc;
}